@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

$green: #77af7b;
$lgreen: #d5edd7;
$grey: #727171;
$black: #373737;
$white: #ffffff;
