html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  color: #727171;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.17;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-bottom: 27px;
}

.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 17px;
  padding-right: 53px;
}

.header__text--width {
  flex-basis: 261px;
}

.header__center {
  display: flex;
  flex-basis: 503px;
  align-items: center;
  justify-content: space-between;
}

.header__tel {
  font-size: 18px;
  color: #77af7b;
  font-weight: 700;
}

.header__work-time {
  max-width: 192px;
  color: #77af7b;
}

.header__main {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 17px;
}

.header__nav {
  flex-basis: 503px;
  display: flex;
}

.header__list {
  flex-basis: 503px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item:nth-child(-n + 2) .header__link::before {
  content: '';
  width: 13px;
  height: 7px;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/arrow-down.svg);
}

.header__link {
  font-size: 18px;
  color: #727171;
  position: relative;
}

.header__btn {
  position: relative;
  max-height: 52px;
  flex-basis: 231px;
  padding: 15px 32px;
  font-size: 18px;
  border: none;
  background-color: #77af7b;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.header__btn::before {
  content: '';
  position: absolute;
  top: -300%;
  left: 0;
  width: 30px;
  height: 500%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: rotate(45deg) translate(-10px, 0px);
}

.header__btn:hover, .header__btn:focus {
  background-color: #5ba25f;
}

.header__btn:hover::before, .header__btn:focus::before {
  transform: rotate(45deg) translate(300px, 0px);
  transition: transform 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.hero {
  padding-bottom: 160px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
}

.hero__content {
  margin-top: 74px;
  max-width: 599px;
  padding-left: 13px;
}

.hero__title {
  margin-bottom: 85px;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.46;
  color: #77af7b;
}

.hero__form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #d5edd7;
  padding: 8px 8px 8px 35px;
}

.hero__input {
  width: 60%;
  border: none;
  margin-right: 10px;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.46;
  outline: none;
}

.hero__btn {
  position: relative;
  padding: 16px 80px;
  background-color: #77af7b;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.03em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.hero__btn::before {
  content: '';
  position: absolute;
  top: -300%;
  left: 0;
  width: 30px;
  height: 500%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: rotate(45deg) translate(-10px, 0px);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #5ba25f;
}

.hero__btn:hover::before, .hero__btn:focus::before {
  transform: rotate(45deg) translate(300px, 0px);
  transition: transform 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
/*# sourceMappingURL=style.css.map */