.price {
  &__inner {
    padding-top: 136px;
  }
  &__title {
    margin-bottom: 75px;
    font-weight: 900;
    font-size: 36px;
    line-height: 1.46;
    color: $black;
    text-align: center;
  }
  &__list-box {
    display: flex;
    justify-content: center;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 100px;
  }
  &__card {
    padding: 29px 29px 19px 29px;
    border: 1px solid #77af7b;

    border-radius: 5px;
  }
  &__icon {
    margin-bottom: 17px;
  }
  &__card-title {
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.34;
    color: $black;
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: $black;
  }
}
